@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);

body,html{
  margin:0;
  padding:0;
  color:#000;
  background:#FFF;
  font-family:'Vollkorn', serif;
}

p.sc1 {
  position:absolute; 
  top:45%; /* adjust this as needed */     
  left:0.3%; 
  width:100%; 
  text-align:center;

}

p.sc4 {
  position:absolute; 
  top:48%; /* adjust this as needed */     
  left:-1%; 
  width:100%; 
  text-align:center;

}

p.sc2 {
  position:absolute; 
  top:40%; /* adjust this as needed */     
  left:-1%; 
  width:100%; 
  text-align:center;
}

img.sc3 {
  margin: auto;
  position: absolute;
  top: 0%; left: 0; bottom: 0; right: 25%;
  width: 200px;
  border-style: solid;
  border-width: 1px;
}