@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);

body,html{
  background:#FFF;
  font-family:'Vollkorn', serif;
}

/* Requested img size = 200px */

#wrapper {
	text-align: center;
	width: 100%;
	top: 50%;
	position: absolute;
	vertical-align: middle;
	transform: translateY(-50%);
}

#wrapper div {
	display: inline-block;
	vertical-align: middle;
	
}

img {
	height: 200px;
}